<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainMapper">
<select id="selectPastMeWl10min" parameterType="map" resultType="kr.go.hrfco.api.me.vo.MeWlDataVO">
WITH a AS (SELECT			yyyymmddhhmm, wlobscd, lat, lon, wl, fw
FROM						public.me_wl_10min_qc
WHERE						yyyymmddhhmm = to_char(to_timestamp(#{targetTime}, 'YYYYMMDDHH24MI') - interval '10 minutes', 'YYYYMMDDHH24MI')),
b AS (SELECT				yyyymmddhhmm, wlobscd, lat, lon, wl, fw
FROM						public.me_wl_10min_qc
WHERE						yyyymmddhhmm = to_char(to_timestamp(#{targetTime}, 'YYYYMMDDHH24MI') - interval '20 minutes', 'YYYYMMDDHH24MI')),
c AS (SELECT				a.yyyymmddhhmm AS yyyymmddhhmm, COALESCE(a.wlobscd, b.wlobscd) AS wlobscd, COALESCE(a.lat, b.lat) AS lat, COALESCE(a.lon, b.lon) AS lon, a.wl AS wlOrgVal, a.fw AS fwOrgVal, b.wl AS wlSubVal, b.fw AS fwSubVal
FROM						a
FULL OUTER JOIN				b
ON							a.wlobscd = b.wlobscd)
SELECT 						COALESCE(c.yyyymmddhhmm, to_char(to_timestamp(#{targetTime}, 'YYYYMMDDHH24MI') - interval '10 minutes', 'YYYYMMDDHH24MI')) AS yyyymmddhhmm, mwsi.wlobscd AS wlobscd, mwsi.obsnm AS obsnm, mwsi.agcnm AS agcnm, mwsi.addr AS addr, mwsi.etcaddr AS etcaddr, mwsi.lat AS lat, mwsi.lon AS lon, mwsi.geom AS geom, COALESCE(mwsi.pfg, '0') AS pfg, mwsi.gu_cd AS guCd, COALESCE(c.wlOrgVal, -999) AS wlOrgVal, COALESCE(c.fwOrgVal, -999) AS fwOrgVal, COALESCE(c.wlSubVal, -999) AS wlSubVal, COALESCE(c.fwSubVal, -999) AS fwSubVal
FROM						public.me_wl_stn_info mwsi
LEFT OUTER JOIN				c
ON							c.wlobscd = mwsi.wlobscd
ORDER BY					mwsi.wlobscd ASC
</select>

<select id="selectAy01LinkData" resultType="kr.go.hrfco.main.vo.LinkDataVO">
SELECT					t.gid AS gid, t.name AS name, t.smh AS smh, t.emh AS emh, t.length AS length, t.slope AS slope, ST_X(ST_StartPoint(t.line2d)) AS startX, ST_Y(ST_StartPoint(t.line2d)) AS startY, ST_X(t.center_geom) AS centerX, ST_Y(t.center_geom) AS centerY, t.angle_deg AS angleDeg
FROM (SELECT			s.gid, s.name, s.smh, s.emh, s.length, s.slope, s.line2d, ST_LineInterpolatePoint(s.line2d, 0.5) AS center_geom, degrees(ST_Azimuth(ST_StartPoint(s.line2d), ST_EndPoint(s.line2d))) AS angle_deg
FROM (SELECT			alv.gid, name, alv.smh, alv.emh, alv.length, alv.slope, ST_LineMerge(ST_Force2D(ST_Transform(alv.geom, 3857))) AS line2d
FROM 					public.ay01_link_v3 alv) s) t
WHERE					gid <![CDATA[ < ]]> 301
</select>

<select id="selectAy01NodeData" resultType="kr.go.hrfco.main.vo.LinkDataVO">
SELECT					t.gid AS gid, t.name AS name, t.area AS area, t.width AS width, t.slope AS slope, ST_X(t.geom_3857) AS centerX, ST_Y(t.geom_3857) AS centerY
FROM (SELECT			n.gid, n.name, n.area, n.width, n.slope, ST_Transform(ST_Force2D(n.geom), 3857) AS geom_3857
FROM					public.ay01_node_v2 n) t
</select>
</mapper>